@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.margin_t_30 {
  margin-top: 30px;
}
.margin_b_50 {
  margin-bottom: 50px;
}

.font_color_wht {
  color: white !important;
}

.text_align_c {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.user_position {
  display: inline-block;
  font-size: 25px;
  width: 150px;
  height: 42px;
  padding: 6px 0 3px 5px;
  float: left;
}

.font_color_admin {
  color: #a94442;
}

.font_color_user {
  color: #3c763d;
}

.font_color_supervisor {
  color: #337ab7;
}

/* various */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* table */

table {
  width: 100%;
  vertical-align: middle;
  text-align: center;  
}

th {
  vertical-align: middle;
  text-align: center;  
}

/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* btn */

.box-attendance-edit {
  overflow: hidden;
  margin: 30px 5% 0;
  .btn-attendance-edit {
    width: 50%;
    padding: 0 10px;
    float: left;
  }
}

.csv_import {
  width: 300px;
  .input-group {
    margin-bottom: 15px;
    .file_select_btn {
      display: inline-block;
      font-size: 12px;
      font-weight: normal;
      text-align: center;
      background-color: #dddddd;
      border: 1px solid #bbbbbb;
      border-radius: 4px 0 0 4px;
      padding: 3px 5px;
      margin-bottom: 0;
      line-height: 1.428571429;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      white-space: nowrap;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }.file_select_btn:hover {
      background-color: #bbbbbb;
    }
    .file_view {
      display: block;
      font-size: 12px;
      color: #555555;
      background-color: #fff;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 0 4px 4px 0;
      padding: 3px 5px;
      margin-bottom: 0;
      line-height: 1.428571429;
      background-image: none;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
  }
}
