<li><%= link_to "ユーザ一覧", users_path %></li>
<li><%= link_to "出勤社員一覧", working_employee_users_path %></li>
<li><%= link_to "拠点情報の修正", bases_path %></li>
<%# FIXME: 要件定義がまだなので、出来次第修正する %>
<li><%= link_to "基本情報の修正", root_path %></li>